 #myDiv {
     background-color: lightgreen;
     width: 100px;
     height: 100px;
 }

 #innerDiv {
     background-color: lightgreen;
     width: 100px;
     height: 100px;
     border: 1px solid;
 }

 #outerDiv {
     background-color: lightgreen;
     width: 200px;
     height: 200px;
     border: 1px solid;
 }
 #myImg{
     width: 300px;
     /* display: none; */
 }
 #myImg2{
    width: 300px;
    /* display: none; */
}
#move{
    width: 100px;
    height: 50px;
    background-color: black;
    border: 2px solid white;
    position: relative;
}
#myDivx{
    width: 100px;
    height: 50px;
    background-color: black;
    border: 2px solid white;
    position: relative;
}
#myCanvas{
    border: 1px solid black;
    /* background-color: skyblue; */
}
#myCanvas2{
    border: 1px solid black;
    /* background-color: skyblue; */
}
#myCanvas3{
    border: 1px solid black;
    /* background-color: skyblue; */
}
#myCanvas4{
    border: 1px solid black;
    /* background-color: skyblue; */
}
#myCanvas5{
    border: 1px solid black;
    /* background-color: skyblue; */
}
.timerBtn{
    width: 80px;
    height: 30px;
    border: 3px solid;
    background-color: #333333;
    color: white;
    cursor: pointer;
    font-family: consolas, monospace;
}

#timeDisplay{
    font-size: 50px;
    font-family: consolas, monospace;
}

#timeContainer{
    text-align: center;
    border: 3px solid;
}