 #myDiv {
     background-color: lightgreen;
     width: 100px;
     height: 100px;
 }

 #innerDiv {
     background-color: lightgreen;
     width: 100px;
     height: 100px;
     border: 1px solid;
 }

 #outerDiv {
     background-color: lightgreen;
     width: 200px;
     height: 200px;
     border: 1px solid;
 }
 #myImg{
     width: 300px;
 }